{
  "data-root": "{{ docker.data_dir}}",
{% if docker.registry_mirrors is defined %}
  "registry-mirrors": [
  {% for mirror in docker.registry_mirrors %}
    "{{ mirror}}"{% if not loop.last %},
    {% endif %}
  {% endfor %}
  
  ],
{% endif %}
{% if docker.exec_opts is defined %}
  "exec-opts": [
  {% for opt in docker.exec_opts %}
    "{{ opt }}"{% if not loop.last %},
    {% endif %}
  {% endfor %}

  ],
{% endif %}
{% if docker["insecure_registries"] is defined %}
  "insecure-registries": [
  {% for registries in docker["insecure_registries"] %}
    "{{ registries }}"{% if not loop.last %},
    {% endif %}
  {% endfor %}

  ],
{% endif %}
  "default-address-pools" : [
    {"base" : "{{ docker["default_address_pools"] }}","size" : 24}
  ],
  "live-restore": true,
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker["log_opts"]["max_size"] }}",
    "max-file": "{{ docker["log_opts"]["max_file"] }}"
  },
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}