Defaults    secure_path = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Cmnd_Alias DOCKER = /usr/bin/systemctl * docker*, /usr/bin/docker*, /usr/local/bin/*, /usr/local/bin/docker-compose*
developer ALL=(root) NOPASSWD:DOCKER
